* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: sans-serif;
  }
  h1 {
    justify-content: center;
    display: flex;
    margin-bottom: 25px;
    margin-top: 50px;
    padding-top: 50px;
    color: white;
  }
  .The-realApp {
    margin: auto;
    height: 150vh;
    padding-bottom: 100px;
    background-color: #282828;
    padding-top: 100px;
    justify-content: center;
  }
  .App {
    border-radius: 20px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .music-play {
    width: 80%;
    background-color: #1d1d1d;
    margin: auto;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
  }
  .music-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  img {
    width: 200px;
    margin-right: 50px;
  }
  .music-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
  }
  .music-album {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #album-name {
    font-size: 20px;
    width: 100%;
    color: white;
  }
  #artist-name {
    color: #dcdcdc;
    font-size: 16px;
    width: 100px;
  }
  .music-album-text {
    max-width: 60%;
  }
  .music-album-play-btn {
    width: 80px;
  }
  .music-album-play-btn button {
    background-color: #90ee90;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  .music-album-play-btn button:hover {
    background-color: #008000;
    color: white;
  }
  
  ol {
    padding-left: 20px;
    color: white;
  }
  .list-music {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 7px;
  
    padding: 0px 10px;
    cursor: pointer;
  }
  .list-music:hover {
    background-color: grey;
    border-radius: 10px;
  }
  .list-music p {
    color: white;
  }
  